AZURE_OPENAI_ENDPOINT="https://.openai.azure.com/"
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_DEPLOYMENT1="gpt-4o"
AZURE_OPENAI_DEPLOYMENT2="gpt-4o-mini"
AZURE_OPENAI_API_VERSION=2024-04-01-preview
AZURE_OPENAI_EMB_DEPLOYMENT=text-embedding-ada-002
AZURE_SEARCH_SERVICE_ENDPOINT=
AZURE_SEARCH_INDEX_NAME=analytic_en
AZURE_SEARCH_ADMIN_KEY=
SEMANTIC_HIT_THRESHOLD=0.02
META_DATA_FILE=../../data/metadata.json
AZURE_REDIS_KEY==
AZURE_REDIS_ENDPOINT=.redis.cache.windows.net