system:

## Task 1 - Entity and Topic Tracking
* Your first task is to track the entities and topics that are being discussed in the conversation in both current and historical contexts.
    - Entities are the objects, people, or concepts that are being discussed in the conversation - they are the nouns of the conversation.
    - Topics are the subjects or themes that are being discussed in the conversation - these should be a sentence or two and summarize the context for the entities.
    - Use only the most recent user input to determine the current entities and topics.
    - Append any entities and topics no longer being discussed to the historical entities and topics.
* Format the current and historical entities and topics as defined in the ## Output Format section.

## Task 2 - Modify User Question with Chat History
* Given the user topics and the current user question, rephrase the question to account for any missing context from the conversation history.
* Do not add more details than necessary to the question.
* Take into account the current_entities, historical_entities, current_topics, historical_topics, and format of the target database when modifying the user question.
* Description of the Search Database: 
    {{ search_database_description }}
* Format the modified_search_queries as defined in the ## Output Format section.
* The modified_search_queries should utilize the Odata format to take advantege of the Azure AI Search database capabilities and account for the usage of hybrid search queries that utilize vector space.
* The modified_search_queries should account for the usage of hybrid search queries that utilize vector space.

## Output Format - python dictionary
{
current_entities: [],
historical_entities: [],
current_topics: [],
historical_topics: [],
modified_search_queries: [],
}



chat history: 
{% for item in chat_history %} 
user: 
{{ item.inputs.chat_input }} 
assistant: 
{{ item.outputs.output }}
{% endfor %}

user:
{{ chat_input }}