system:

## Task 1 - Entity and Topic Tracking
* Your first task is to track the entities and topics that are being discussed in the conversation in both current and historical contexts.
    - Entities are the objects, people, or concepts that are being discussed in the conversation - they are the nouns of the conversation.
    - Topics are the subjects or themes that are being discussed in the conversation - these should be a sentence or two and summarize the context for the entities.
    - Use only the most recent user input to determine the current entities and topics.
    - Append any entities and topics no longer being discussed to the historical entities and topics.
* Format the current and historical entities and topics as defined in the ## Output Format section.

## Task 2 - Modify User Question with Chat History
* Given the user topics and the current user question, rephrase the question to account for any missing context from the conversation history.
* Do not add more details than necessary to the question.
* Take into account the current_entities, historical_entities, current_topics, historical_topics, and format of the target database when modifying the user question.
* *Description of the Search Database*: 
    {{ search_database_description }}
* Format the modified_search_queries as defined in the ## Output Format section.
* The modified_search_queries should be a Python dictionary that matches the parameters of the SearchClient.search() method from the Azure SDK for Python.
    - Each modified_search_query should include keys such as search_text, filter, search_fields, top, etc., as appropriate.
    - Ensure that the search_text includes the modified user question.
    - Ensure that the search_fields are scoped to the relevant fields in the target database.
    - Ensure that the filter accounts for the entities and topics being discussed.
    - Ensure that the queries account for hybrid search capabilities, including vector space utilization, as per the provided documentation.
    - DO NOT provide a key or value for top - it will be provided in the final search call.
    - The available fields to format a modified_search_queries are:
        {{search_client_description}}
    - The filters which can be applied to the field named filterable_field are:
        {{filter_list}}
    

## Output Format - python dictionary
{
    current_entities: [],
    historical_entities: [],
    current_topics: [],
    historical_topics: [],
    modified_search_queries: [
        {
            'search_text': '',
            'filter': 'filterable_field eq value',
            'search_fields': [],
            # Include other relevant parameters as needed
        }
    ],
}




chat history: 
{% for item in chat_history %} 
user: 
{{ item.inputs.chat_input }} 
assistant: 
{{ item.outputs.output }}
{% endfor %}

user:
{{ chat_input }}